{% extends 'main.html'%}
<section class="container-fluid">
    <form method="post" action="/">
        <div class="col-auto">
            <div class="input-group mb-3">
                <input type="text" name="user" value="{{user_id}}" class="form-control"
                placeholder="Add new user" aria-label="Add new user"
                aria-describedby="button-addon2"/>
                <button class="btn btn-outline-primary" type="submit" id="button-addon2"
                data-mdb-ripple-color = "dark">
                    Add
                </button>
            </div>
        </div>
    </form>
</section>
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <h2> ID: {{"user.id"}}</h2>    <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
        <p>Name:{{user.username}}</p>
        <p>Age:{{user.age}}</p>
<!--        {% endfor %}-->
    {% else %}
        <section class="container-fluid">
            <h2 align="center"> Users </h2>
            <br>
            <div class="user">
                <ul class="list-group list-group-flush">
                    {% for user in users %} <!-- Напишите свой код здесь (перебор пользователей) -->
                    <li class="list-group-item" >
                        {{user.id}}<a>href="/users/{{user_id}}"><a>{{user.id}}{{user.username}}{{user.age}}</a>
                    /li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
